* {
  color: #c0caf5;
  background-color: transparent;
  font-family: "Lilex Nerd Font";
  font-feature-settings: "cv08,zero,cv09,cv10";
}

.bar {
  background-color: rgba(36, 40, 50, 0.4);
}

.clock {
  font-size: 0.8rem;
  margin-top: 3px;
  margin-bottom: 3px;
}

.ampm {
  font-family: "Ricty Diminished with Fira Code";
  font-size: 1.5rem;
  color: #7aa2f7;
}

.left {
  margin-left: 4px;
  padding: 1px;
}

.right {
  margin-right: 4px;
}

.media-container {
  padding: 1px;
  min-width: 300px;
}

.song {
  font-family: "Lilex Nerd Font";
  font-feature-settings: "cv08,zero,cv09,cv10";
  font-size: 0.9rem;
}

.artist {
  font-family: "Lilex Nerd Font";
  font-feature-settings: "cv08,zero,cv09,cv10";
  font-size: 0.7rem;
  font-style: italic;
}

.song-progress { }

tooltip {
  background-color: #24283b;
  color: #c0caf5;
  border: 2px solid #1a1b26;
}

slider {
  all: unset;
}

trough {
  min-height: 4px;
  background-color: #414868;
}

progress {
  min-height: 4px;
  background-color: #bb9af7;
}

